.form-container-control {
    width: 100%;
    position: relative;
}
input {
    width: 93%;
    color: black;
    border: 2px solid black;
    outline: none;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
}
input::placeholder {
    color: black;
}
.form-container-type-icon {
    position: absolute;
    top: 12px;
    right: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}